<%= page_title category.name.capitalize %>

<% cache [:locale, :show, category] do %>
  <div class="works-list">
    <%= render partial: 'works/work_preview', collection: published_works, as: :work %>
  </div>
<% end %>
