<div id='works'>
  <%= render "works", works: @works %>
</div>

<div id="pagination"
     data-behaviour="front-page-pagination"
     data-alt-text="&laquo; <%= t('get_more_works') %> &raquo;"
     data-total-pages="<%= @works.total_pages %>">
  <%= will_paginate @works %>
</div>

