#admin_bar {
  border-bottom: 1px solid $dark_grey;
  @include box-shadow(0 1px 10px 0 hsla(0, 0%, 0%, 0.65));

  .container > div {
    /*@include clearfix;*/
  }

  #session_controls {
    float: right;
  }

  #generic_controls {
    float: left;
  }

  #content_controls {
    width: 100%;
    clear: both;
    float: left;
    margin-top: 0.3em;

    .warning {
      margin-left: 1em;
    }
  }

  a {
    float: left;
    padding: 0.25em 0.5em 0.25em;
    border-radius: 0.5em;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    @include button(pill, $clear_grey);

    &.warning, &.logout {
      @include button(pill, $warning);
    }
  }
}

body.admin.works {
  #works {
    li {
      .work_title {
        font-weight: bold;
      }

      &.unpublished {
        border: 2px solid $warning;

        span.unpublished {
          color: $warning;
        }
      }
    }
  }
}
