body {
  background: image-url('ricepaper2.png');
}

#admin_bar {
  background: white;
}

.alert-notice {
  background: $green;
}

.alert-error {
  background: $error;
}

form {
  background: $clear_grey;
}

div.fields {
  background: lighten($grey, 20%);
}

