body {
  background: image-url('ricepaper2.png');
}

#admin_bar {
  background: $black;
}

.alert-notice {
  background: $green;
}

.alert-error {
  background: $error;
}

#footer {
  background: #2d63be;
}

#admin_bar {
  a {
    background: $clear_grey;
  }

  a.warning {
    background: $warning;
  }
}

form {
  background: $clear_grey;
}

div.fields {
  background: lighten($grey, 20%);
}

/* Només per a la pàgina d'inici */
body.dashboards.front {
  #main_menu a {
    &.action {
      background: #e88717;
    }

    &.visual {
      background: #2d63be;
    }
  }
}
