body {
  font-size: 100%;
  font-family: 'cantarellregular', sans-serif;
  color: $dark_grey
}

h1, h2, h3, h4, h5, h6, .front #main_menu, .f-title {
  font-family:  'im_fell_english_proregular', serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

#main_menu a {
  font-size: 1.1em;
  color: inherit;
}

.no-front #main_menu a {
  color: #eee;
}

a, a:visited, a:active {
  color: #900;
  text-decoration: none;
}

a:hover {
  color: #f00;
}

/* Uniformitzar l'aspecte del títol */
#site_name {
  font-size: 2em;
  font-weight: bold;
  text-rendering: geometricPrecision;
  letter-spacing: 0.05em;
}

#admin_bar {
  font-size: 0.875em;
  color: $grey;

  /* Buttons */
  a {
    color: #222;

    &.warning {
      color: #fff;
    }
  }
}

/* Estils de fonts per a la pàgina d'inici */
.front {
  #brand, #main_menu {
    div a {
      font-size: 4em;
    }

    i {
      font-size: 2em;
      font-style: normal;
    }
  }

  .work-title {
    font-size: 1.3em;
  }
}

/* Per als formularis */
label{
  line-height: 1.7;
  font-weight: bold;
}

legend {
  font-weight: bold;
}

.help-block {
  font-size: 0.8em;
  color: #0b0;

  &:before {
    content: "-";
  }
}

form .error .help-inline {
  color: $error;
}
