body {
  font-size: 100%;
}

#main_header a {
  color: inherit;
}

/* Uniformitzar l'aspecte del títol */
#site_name {
  font-size: 2em;
  font-weight: bold;
  text-rendering: geometricPrecision;
  letter-spacing: 0.05em;

  a {
    text-decoration: none;
  }
}

#main_menu a {
  text-decoration: none;
}

/* Estils de fonts per a la pàgina d'inici */
body.dashboards.front {
  #main_header {
    font-size: 3em;

    i {
      font-size: 1.5em;
      font-style: normal;
    }
  }
}
