body {
  font-size: 100%;
  font-family: 'cantarellregular', sans-serif;
  color: $dark_grey;
  @include transition(font-size 0.75s linear);
}

h1, h2, h3, h4, h5, h6, .front #main_menu, .f-title {
  font-family:  'im_fell_english_proregular', serif;
  font-weight: normal;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

a, a:visited, a:active {
  color: #ac4a19;
  text-decoration: none;
  @include transition(color 0.25s ease-in-out);
}

a:hover, .front .work:hover .work-title a {
  color: #d18007;
  @include transition(color 0.25s ease-in-out);
}

#main_menu a {
  font-size: 1.3em;
  color: inherit;
}

.no-front #main_menu a {
  color: #523d14;
  font-size: 1.5em;
  line-height: 1;

  &:hover {
    color: #ac4a19;
  }
}

/* Uniformitzar l'aspecte del títol */
#site_name {
  font-size: 2em;
  font-weight: bold;
  text-rendering: geometricPrecision;
  letter-spacing: 0.05em;
}

#admin_bar {
  font-size: 0.875em;
  color: $grey;

  /* Buttons */
  a {
    color: #222;
    @include transition(color 0.25s ease-in-out);

    &.warning {
      color: #fff;
      @include transition(color 0.25s ease-in-out);
    }
  }
}

/* Estils de fonts per a la pàgina d'inici */
.front {
  #brand, #main_menu {
    div a {
      font-size: 4em;
      @include transition(color 0.25s ease-in-out);

      &:hover {
        color: #ac4a19;
        @include transition(color 0.25s ease-in-out);
      }
    }

    i {
      font-size: 2.5em;
      font-style: normal;
    }
  }

  .work-title {
    font-size: 1.3em
  }
}

/* Per als formularis */
label{
  line-height: 1.7;
  font-weight: bold;
}

legend {
  font-weight: bold;
}

.help-block {
  font-size: 0.8em;
  color: #0b0;

  &:before {
    content: "-";
  }
}

form .error .help-inline {
  color: $error;
}

#footer_page_name {
  text-decoration: underline;
}

#ajx_get_works {
  font-size: 1.5em;
}
