form {
  padding: 0.5em;
  border: 1px solid $grey;
  border-radius: 5px;

  .control-group, fieldset {
    margin: 0 0 1em 0;
  }

  fieldset {
    border: 4px double $black;
  }

  input {
    padding: 0.2em;
  }

  div.fields {
    position: relative;
    margin-bottom: 0.5em;
    padding: 0.5em;
    padding-left: 2em;
    border-radius: 5px;
    @include clearfix;

    .remove_nested_fields {
      float: right;
    }
  }

  p {
    margin: 0;
  }
}

.fields .cke_contents {
  /*height: 5em !important;*/
}

#admin_tags {
  form {
    min-width: 1024px;

    & > div {
      @include inline-block;
      min-width: 10%;
    }

    h3 {
      margin: 0 0 0.5em;
    }
  }
}

.error {
  input, text-area, select {
    box-shadow: 0 0 5px 0 $error;
  }

  .help-inline {
    padding: 0 0.5em;
  }
}



