/* Estils per al formulari de contacte */
.contact_messages.new, .contact_messages.create {
  form {
    margin-top: 1em;

    input, textarea {
      font-size: 100%;
    }

    input {
      width: 40%;
      min-width: 12em;
    }

    textarea {
      width: 65%;
      min-width: 16em;
      min-height: 9em;
    }
  }

  .alert.alert-error {
    background: transparent;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 2px solid red;
    border-radius: 5px;
  }
}

form {
  background-color: $clear_grey;
  padding: 0.5em;
  border: 1px solid $grey;
  border-radius: 5px;

  .control-group {
    margin: 0 0 1em 0;
  }

  .control-group {
    margin-bottom: 0.8em;

    input {
      padding: 0.2em;
      font-size: 125%;
    }
  }
}
