body.dashboards.front {
  #main_header {
    text-align: center;
    margin: 2em 0;

    #main_menu {
      position: relative;
      margin: 2em 0 0;

      a {
        width: 5.5em;
        @include inline-block;
        margin: 0.25em 1.3em;
        padding: 0.25em;
        @include border-radius(0.5em);
      }

      i {
        width: 100%;
        position: absolute;
        top: -1em;
        left: 0;
      }
    }
  }

  #recent_works {
    margin-left: -3%;
    @include clearfix;

    h2 {
      margin-left: 3%;
      margin-bottom : 0;
    }

    .work {
      width: 29.81%;
      min-height: 180px;
      float: left;
      margin-left: 3.333333%;
      margin-top: 3.333333%;
      @include box-shadow(0 0 5px 3px hsla(0, 0%, 0%, 0.65));
    }
  }
}
