.front {
  #main_header {
    text-align: center;
    padding: 3em 0 0;
  }

  #brand {
    $brand_width: 80%;
    width: $brand_width;
    margin: 0 auto;
    position: relative;
    padding: 0.2147727*$brand_width 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  #main_menu {
    position: relative;
    @include clearfix;

    div {
      width: 50%;
      float: left;
      padding: 1.6em 0 1.3em;
      text-align: center;
    }

    i {
      width: 100%;
      position: absolute;
      top: -0.25em;
      left: 0;
      z-index: -1;
    }
  }

  #main {
    margin-top: 0;
  }

  #works {
    margin-left: -3.333333%;
    @include clearfix;

    .work {
      width: 30%;
      position: relative;
      float: left;
      margin-left: 3.333333%;
      margin-top: 3.333333%;
      @include box-shadow(0 0 6px 1px rgba(77, 28, 34, 0.61));
      background: black;

      a.work-preview {
        width: 100%;
        padding: 50% 0;
        display: block;
        line-height: 0;

        img {
          width: 100%;
          position: absolute;
          top: 0;
        }
      }
    }
  }

  .work-title {
    width: 100%;
    position: absolute;
    bottom: -6px;
    left: -0.5em;
    border-width: 0.5em;
    border-style: solid;
    -moz-border-image: image-url('torn_edges_border.png') 10 10 repeat;
    -webkit-border-image: image-url('torn_edges_border.png') 10 10 repeat;
    -o-border-image: image-url('torn_edges_border.png') 10 10 repeat;
    border-image: image-url('torn_edges_border.png') 10 10 repeat;
    text-align: center;
    font-size: 1.3em;

    a {
      display: block;
      position: relative;
      background: image-url('paper.png') 50% 50%;
    }
  }
}

#pagination {
  clear: both;
  margin-top: 2em;
  text-align: center;
}

/* Per a efecte de fadeIn si està activat el javascript */
html.js .new-work {
  visibility: hidden;
}
