$sidebar_width: 14em;
$sidebar_gap: 2.5em;

html {
  background: $kaki_yellow;
}

body {
  background: $grey image_url('ricepaper2.png');
  margin: 0;
}

body.no-front {
  padding-top: 2em;
}

h1 {
  margin: 0.25em 0;
}

.container {
  max-width: 1240px;
  padding: 0 2.5%;
  margin: 0 auto;
  //@include clearfix;
}

#site_name {
  margin: 0;

  img {
    width: 100%;
  }
}

#main {
  width: 100%;
}

#flash_messages {
  padding: 0 1.5%;

  .alert {
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
  }

  .alert-notice {
    background: $green;
  }

  .alert-alert {
    background: rgba(209, 128, 7, 0.25);
  }

  .alert-error {
    background: $error;
  }
}
