*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background: $kaki_yellow;
  line-height: 1.35;
}

body {
  background: $grey asset-url('ricepaper2.png');
  margin: 0;

  .container, #flash-messages {
    max-width: 1240px;
    padding: 0;
    margin: 0 auto;
  }

  &.with-sidebar .main-container {
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
  }

  &.no-front {
    padding-top: 2.5rem;

    #sidebar {
      min-width: 15rem;

      ul {
        margin: 0;
        padding: 0 0 0 .5rem;
      }

      li {
        list-style: none;
        margin: 0.625rem 0;
      }
    }
  }
}

#flash-messages {
  .alert {
    padding: .75rem;
    border-radius: 1rem;

    &.alert-notice {
      background-color: #94ff94;
    }
  }
}

p, li {
  margin: 0.375rem 0;
}

h1 {
  margin: 0.25em 0;
}

#site_name {
  margin: 0;

  img {
    width: 100%;
  }
}

#flash_messages {
  padding: 0 1.5%;

  .alert {
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
  }

  .alert-notice {
    background: $green;
  }

  .alert-alert {
    background: rgba(209, 128, 7, 0.25);
  }

  .alert-error {
    background: $error;
  }
}
