.home {
  #main_header {
    text-align: center;
    padding: 3em 0 0;
  }

  #brand {
    $brand_width: 80%;
    width: $brand_width;
    margin: 0 auto;
    position: relative;
    padding: 0.2147727*$brand_width 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  #main_menu {
    display: flex;
    position: relative;
    //@include clearfix;

    .menu-item {
      width: 50%;
      padding: 1.6em 0 1.3em;
      text-align: center;
    }

    i {
      width: 100%;
      position: absolute;
      top: -0.25em;
      left: 0;
      z-index: 0;
    }
  }
}

.no-home {
  #header_container {
    background: #dfcf80;
    position: relative;
    margin-bottom: 2em;
  }

  #header_container:before {
    background: transparent image-url('torn_edges_barra_menu.png') repeat-x 0 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 10px;
    top: -10px;
  }

  #header_container:after {
    background: transparent image-url('torn_edges_barra_menu.png') repeat-x 0 100%;
    position: absolute;
    content: " ";
    width: 100%;
    height: 10px;
    bottom: -10px;
    z-index: 0;
  }

  #main_header {
    display: flex;
  }

  #brand {
    width: 5em;
    //float: left;
    position: relative;
    top: .2em;
    margin: -1em 0 -2.2em;
    z-index: 1;
  }

  #main_menu {
    //float: left;

    a {
      margin-left: 1em;
    }
  }

  #select_lang {
    top: -1.9em;
  }
}
