$sidebar_width: 18em;
$sidebar_gap: 1.5em;

#wrapper {
  margin: -1px 0 0;
  padding-top: 1px;
}

#admin_bar {
  width: 100%;
  padding: 0.5em 0 0.2em;
  position: relative;
  z-index: 100;
}

.container {
  max-width: 1240px;
  position: relative;
  padding: 0 0.5em;
  margin-left: auto; margin-right: auto;
  @include clearfix;
}

#select_lang {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0 1em;
}

#flash_messages {
  padding: 0 1.5%;

  .alert {
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
  }
}

body.no-front #brand {
  width: 12em;
  float: left;
}

#site_name {
  margin: 0;

  img {
    width: 100%;
  }
}

body.no-front #main_menu {
  float: left;
  margin: 2em 0 0 1.5em;

  a.action {
    margin-right: 1em;
  }
}

#main {
  width: 100%;
  float: left;
  margin-top: 2em;
}

body.with_sidebar #main {
  margin-right: -$sidebar_width -$sidebar_gap;

  .content {
    margin-right: $sidebar_width +$sidebar_gap;
  }
}


.sidebar {
  width: $sidebar_width;
  float: left;
  margin-left: $sidebar_gap;
  margin-top: 7em;
}

#footer {
  margin-top: 5em;
  padding: 1em 0;
}
