#wrapper {
  margin: -1px 0 0;
  padding-top: 1px;
}

.container {
  max-width: 1500px;
  position: relative;
  margin-left: auto; margin-right: auto;
  @include clearfix;
}

#main_header {
}

#main {
  margin-top: 2em;
  padding: 0 1.5%;
}

#footer {
  margin-top: 5em;
  padding: 1em 0;
}
