@import 'normalize-rails';
@import 'bourbon';
@import 'supersized';

@mixin transition($name, $time) {
   transition: #{$name} #{$time};
  -webkit-transition: #{$name} #{$time};
  -moz-transition: #{$name} #{$time};
  -ms-transition: #{$name} #{$time};
}

html {
  height: 100%;
}

body {
  font-size: 145%;
  color: #ededed;
  @include transition (font-size, 1s);
}

#main {
  position: absolute;
  bottom: 17%;
  padding: 1em;
  text-align: center;
  background: image-url('natural_paper.png');
  @include box-shadow(0 0 8px 1px #000);
  @include border-radius(0 5px 5px 0);

  h1 {
    margin: 0;
    font-size: 2.5em;
    text-shadow: 4px 4px 6px #000;
  }

  .email {
    margin-top: 0.25em;
  }
}

a {
  color: #91D1F8;

  &:hover {
    color: darken(#91D1F8, 20%);
  }
}

@media (min-width: 1700px) {
  body {
    font-size: 210%;
  }
}

@media (min-width: 1200px) and (max-width: 1699px) {
  body {
    font-size: 180%;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 115%;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 85%;
  }
}
