@media (min-width: 1700px) {
}

@media (min-width: 1200px) and (max-width: 1699px) {
}

@media (max-width: 900px) {
  body.with_sidebar #main {
    $sidebar_width: 14em;
    $sidebar_gap: 1em;

    margin-right: -$sidebar_width - $sidebar_gap;

    .content {
      margin-right: $sidebar_width + $sidebar_gap;
    }
  }

  .sidebar {
    width: $sidebar_width;
    margin-left: $sidebar_gap;
  }
}

@media (max-width: 768px) {
  .container{
    padding: 0 1em;
  }

  .front {
    #brand {
      width: 100%;
      padding: 21.47727% 0;
    }
  }

  .front #works {
    margin-left: -5%;

    .work {
      width: 45%;
      margin-left: 5%;
      margin-top: 5%;
    }
  }

  body.with_sidebar #main {
    margin-right: 0;

    .content {
      margin-right: 0;
    }
  }

  .sidebar {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0;
  }

  .front {
    #main_menu div a {
      font-size: 3em;
    }

    #main {
      width: auto;
      float: none;
      margin: 0 1em;
    }
  }
}

@media (max-width: 340px) {
  .front #works {
    margin-left: 0;

    .work {
      width: 90%;
      float: none;
      margin: 2em auto 0;
    }
  }
}
