@media (min-width: 1700px) {
}

@media (min-width: 1200px) and (max-width: 1699px) {
}

@media (max-width: 900px) {
  body.with_sidebar #main {
    $sidebar_width: 14em;
    $sidebar_gap: 1em;

    margin-right: -$sidebar_width - $sidebar_gap;

    .content {
      margin-right: $sidebar_width + $sidebar_gap;
    }
  }

  .sidebar {
    width: $sidebar_width;
    margin-left: $sidebar_gap;
  }
}

@media (max-width: 768px) {
  .container{
    padding: 0 1em;
  }

  .front {
    #brand {
      width: 100%;
      padding: 21.47727% 0;
    }
  }

  .front #works {
    margin-left: -5%;

    .work {
      width: 45%;
      margin-left: 5%;
      margin-top: 5%;
    }
  }

  body.with_sidebar #main {
    margin-right: 0;

    .content {
      margin-right: 0;
    }
  }

  .sidebar {
    width: 100%;
    margin-top: 2em;
    margin-left: 0;

    .sidebar-block {
      margin: 0;

      .tags_list li {
        float: left;
        margin-right: 1.5em;
      }
    }
  }
}

@media (max-width: 660px) {
  .no-front #brand {
    float: none;
    top: 0;
    margin: 0 auto;
  }

  .no-front #main_menu {
    float: none;
    text-align: center;

    a {
      margin: 0 0.5em;
    }
  }
}

@media (max-width: 580px) {
  .no-front #brand {
    position: absolute;
    margin: 0;
    top: 0.7em;
  }

  .no-front #main_menu {
    width: 50%;
    float: none;
    margin: 0.25em auto;
    text-align: center;

    a {
      font-size: 1.2em;
      display: block;
      margin: 0 0 0.2em;
    }
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.2em;
    padding-right: 0.5em;
  }

  .container {
    padding: 0 0.5em;
  }

  .front {
    #main_menu i {
      font-size: 1.5em;
    }

    #main_menu div a {
      font-size: 3em;
    }

    #main {
      width: auto;
      float: none;
      margin: 0 1em;
    }
  }

  .action_works.show, .visual_works.show {
    .work-place, .work-date {
      bottom: 1em;
    }
  }

  .works-list {
    .view-more, .work-place, .work-date {
      display: none;
    }
  }
}

@media (max-width: 340px) {
  .front #works {
    margin-left: 0;

    .work {
      width: 90%;
      float: none;
      margin: 2em auto 0;
    }
  }

  .works-list {
    .work.odd, .work.even {
      text-align: left;

      .image-wrapper {
        float: left;
      }

      .work-title {
        float: right;
        margin-left: 0;
        margin-right: 0;

        p {
          padding: 0 0 0 1em;
        }
      }

      .work-description {
        width: 100%;
        float: none;
        clear: both;
        margin: 0;

        p {
          padding: 0;
        }
      }
    }
  }

  #footer_menu a {
    display: block;
    margin-bottom: 1em;
  }
}
