table {
  width: 100%;
}

/* Estils per al selector de llengües */
#select_lang {
  list-style: none;

  li {
    display: inline;
  }
}

/* Estils per a la caixa debug */
.debug_dump {
  background: #aaa;
  clear: both;
  margin: 0;
}
