table {
  width: 100%;
}

/* Estils per al selector de llengües */
#select_lang {
  list-style: none;

  li {
    display: inline;
  }
}

/* Estils per a la caixa debug */
.debug_dump {
  background: #aaa;
  clear: both;
  margin: 0;
}

/* Estils per al paginador (will_paginate) */
.pagination {
  * {
    min-width: 1em;
    padding: .2em;
    border: 1px solid $clear_grey;
    text-decoration: none;
  }

  .gap {
    border: none;
  }
}
