/*
 * UNIFORMITZAR L'ASPECTE DEL TÍTOL
 */
#page_title {
  font-size: 40px;
  font-weight: bold;
  line-height: 36px;
  text-rendering: geometricPrecision;
  letter-spacing: 0.05em;

  a{
    text-decoration: none;
  }    
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
