// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin_tags {
  width: 100%;

  div.tag {
    position: relative;
    margin: 1px 0;
    padding: 0.5em;
    border-top: 1px solid;
    border-bottom: 1px solid;
    &.untranslated_tag {
      background: #ea4921;
    }

    form {
      text-align: justify;
      min-width: 1024px;

      & > * {
        @include inline-block;
        min-width: 10%;
      }
    }
  }
}
