// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin_tags {

  .tag {
    position: relative;
    padding: 0.5em 0;
  }

  .tag.untranslated_tag form {
    border: 2px solid $error;

    &:before {
      content: '*';
      color: $error;
    }
  }
}
