@font-face {
    font-family: 'im_fell_english_proregular';
    src: font-url('feenrm28c/feenrm28c-webfont.eot');
    src: font-url('feenrm28c/feenrm28c-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('feenrm28c/feenrm28c-webfont.woff') format('woff'),
         font-url('feenrm28c/feenrm28c-webfont.ttf') format('truetype'),
         font-url('feenrm28c/feenrm28c-webfont.svg#im_fell_english_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cabinsketchregular';
    src: font-url('cabinsketch/cabinsketch-regular-webfont.eot');
    src: font-url('cabinsketch/cabinsketch-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('cabinsketch/cabinsketch-regular-webfont.woff') format('woff'),
         font-url('cabinsketch/cabinsketch-regular-webfont.ttf') format('truetype'),
         font-url('cabinsketch/cabinsketch-regular-webfont.svg#cabinsketchregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poilet_taperregular';
    src: font-url('poilettaper/poilettaper-webfont.eot');
    src: font-url('poilettaper/poilettaper-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('poilettaper/poilettaper-webfont.woff') format('woff'),
         font-url('poilettaper/poilettaper-webfont.ttf') format('truetype'),
         font-url('poilettaper/poilettaper-webfont.svg#poilet_taperregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trykkerregular';
    src: font-url('trykker/trykker-regular-webfont.eot');
    src: font-url('trykker/trykker-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('trykker/trykker-regular-webfont.woff') format('woff'),
         font-url('trykker/trykker-regular-webfont.ttf') format('truetype'),
         font-url('trykker/trykker-regular-webfont.svg#trykkerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu_lightregular';
    src: font-url('ubuntu/ubuntu-l-webfont.eot');
    src: font-url('ubuntu/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('ubuntu/ubuntu-l-webfont.woff') format('woff'),
         font-url('ubuntu/ubuntu-l-webfont.ttf') format('truetype'),
         font-url('ubuntu/ubuntu-l-webfont.svg#ubuntu_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cantarellregular';
    src: font-url('cantarell/cantarell-regular-webfont.eot');
    src: font-url('cantarell/cantarell-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('cantarell/cantarell-regular-webfont.woff') format('woff'),
         font-url('cantarell/cantarell-regular-webfont.ttf') format('truetype'),
         font-url('cantarell/cantarell-regular-webfont.svg#cantarellregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
