.works-list {
  .work {
    margin: 1em 0;
    padding: 1em 0;
    @include clearfix;
  }

  .work .work-title {
    width: 75%;

    h2 {
      margin-top: 0;
      padding: 0 0.666666em;
    }
  }

  .image-wrapper {
    width: 25%;
    float: left;

    img {
      width: 100%;
    }
  }

  .work.odd {
    .work-title {
      float: right;
    }

    .work-info {
      margin-left: 25%;
      padding-left: 1em;
    }
  }

  .work.even {
    text-align: right;

    .work-title {
      float: left;
    }

    .image-wrapper {
      float: right;
    }

    .work-info {
      margin-right: 25%;
      padding-right: 1em;
    }
  }
}
