.works-list {
  .work {
    margin: 1em 0;
    padding: 1em 0;
    @include clearfix;
  }

  .work-title, .work-place, .work-date, .work-description {
    width: 75%;
  }

  .work-title h2 {
    margin-top: 0;
    padding: 0 0.666666em;
  }

  .image-wrapper {
    width: 25%;
    float: left;

    img {
      width: 100%;
    }
  }

  .work.odd {
    .work-title {
      float: right;
    }

    .work-date, .work-place, .work-description {
      float: right;

      h2, p {
        padding-left: 1em;
      }
    }
  }

  .work.even {
    text-align: right;

    .work-title {
      float: left;
    }

    .image-wrapper {
      float: right;
    }

    .work-date, .work-place, .work-description {
      float: left;

      h2, p {
        padding-right: 1em;
      }
    }
  }
}
