.works-list {
  .work {
    margin: 1em 0;
    @include clearfix;
  }

  .image-wrapper {
    width: 25%;
    height: 100%;
    max-width: 200px;
    min-width: 80px;
    float: left;
    margin-right: 0.5em;

    img {
      width: 100%;
    }
  }
}
