/* admin works page */
.translations-info {
  float: right;

  & > div {
    float: left;
    margin-left: 1.5em;
    text-transform: uppercase;
  }
}

/* show work page */
.action_works.show, .visual_works.show {
  .work-place, .work-date {
    position: relative;
    bottom: 1.2em;
  }
}

#image_gallery_container {
  width: 95%;
  margin: 0 auto 1em;
  border-radius: 5px;
}

.galleria-thumb-nav-left,
.galleria-thumb-nav-right {
  background-color: #777;
  border-radius: 5px;

  &.disabled {
    background-color: transparent;
  }
}
