<header id="main_header" role="banner">
  <div id="brand">
    <%= site_name %>
  </div>
  <nav id="main_menu" role="navigation">
    <%= render 'menu' %>
  </nav>
</header>
<ul id="select_lang">
  <%= lang_selector.html_safe %>
</ul>
