<header id="main_header" class="container">
  <div>
    <div id="brand">      
      <%= page_title %>
    </div>
    <div id="select_lang">
      <%= lang_selector.html_safe %>
    </div>
  </div>
</header>