<header role="banner">
  <div class="container header-container">
    <div id="brand">
      <%= site_name %>
    </div>
    <%= render 'menu' %>
    <ul id="select_lang">
      <%= lang_selector.html_safe %>
    </ul>
  </div>
</header>
