<div id="header_container" class="">
  <div class="container">
    <header id="main_header" role="banner">
      <div id="brand">
        <%= site_name %>
      </div>
      <%= render 'menu' %>
    </header>
    <ul id="select_lang">
      lang_selector
      <%#<%= lang_selector.html_safe %>
    </ul>
  </div>
</div>
