<header id="main_header" role="banner">
  <div id="brand">
    <%= site_name %>
  </div>
  <nav id="main_menu" role="navigation">
    <%= link_to ActionWork.model_name.human(count: 2), action_works_path, class: 'action' %>
    <%= content_tag 'i', 'Art' if front? %>
    <%= link_to VisualWork.model_name.human(count: 2), visual_works_path, class: 'visual' %>
  </nav>
</header>
