<div id="admin_bar">
  <div class="container">
    <div id='session_controls'>
      Hola <%= current_user.name %>!
      <%= link_to 'Sortir', logout_path %>
      <%= link_to t('edit_e', e: 'usuari'), edit_user_path(current_user) %>
    </div>
    <div id="admin_controls">
      <strong>Administració:</strong>
      <%= raw send("#{controller.controller_name}_#{controller.action_name}_admin_links") %>
    </div>
  </div>
</div>
