<div class="sidebar">
  <div class="sidebar-block">
    <h2><%= t('categories') %>:</h2>
    <ul class="tags_list vertical-list">
      <% tags.each do |t| %>
        <li><%= link_to t.name.humanize, tag_path(t) %></li>
      <% end %>
    </ul>
  </div>
</div>
